.icon-veryverysmall{
    width: 1.5rem;
    height: 1.5rem;
    color: $color-black;
}

.icon-verysmall{
    width: 2rem;
    height: 2rem;
    color: $color-grey-light-1;
}
.icon-small{
    width: 2.8rem;
    height: 2.8rem;
    color: $color-grey-light-1;
    padding-right: .5rem;
}
.icon-medium{
    width: 4.2rem;
    margin: .2rem 0rem;
    height: 4.2rem;
    padding: 1rem;
    color: $color-grey-light-1;
}
.icon-large{
    width: 45px;
    height: 45px;
    padding: 1.5px;
    color: $color-black;
    background-color: $color-grey-light-1;
    border-radius: 100px;
    margin:5px 0px;
    &::before{
        content: "";
        width: 10px;
        height: 10px;
        z-index: 1;
    }
}
 
.icon-mediumlarge{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    color: $color-white;
}

.black{
    color:$color-black;
}
.grey-light{
    color:$color-grey-light-4;
}
.grey-dark{
    color:$color-grey-dark-2;
}
.black-light{
    color:rgba($color: #000000, $alpha: .7);
}
.blue{
    color:$color-blue;
}
.margin-side-small{
    margin: 0rem .7rem;
}

.margin-left-small{
    margin-left: 3.5rem;
}

.backgroundcolor-transparent{
    background-color: rgba($color:$color-background, $alpha:.9);
}