.todo{
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem 0rem 1rem;
    max-height: 50rem;
    //align-items: flex-start;
    &__row{
        display: flex;
        height: 4rem;
        max-width: 110rem;
        margin-left: 3.5rem;
        align-items: center;
        position: relative;
        &-svg{
            position: absolute;
            top: -.4rem;
            left: 0;
            width: 3rem;
            padding-top: .5rem;
            background-color: white;
           
        }
        &-mygroup{
            position: absolute;
            top: 0;
            left: 2.5rem;
            z-index: 10;
            width: 50rem;
            font-size: 2rem;
            flex-shrink: 0;
            padding: .3rem 0rem 0rem .8rem;
            color: $color-blue;
        }
        &-mygroup-item{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 50rem;
            height: 100%;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding: 0rem 1rem 0rem 2rem;
            justify-content: space-between;
            border-right: $line-small;
            border-left:.9rem solid rgba($color:$color-blue, $alpha: .8s);
            h3{
                font-size: 1.6rem;
                font-weight: 400;
            }
            &-icons{
                padding-top: .5rem;
            }
            
        }
        &-content{
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            height: 4rem;
            padding-left: 50rem;
            .todo__row-headers-person{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                overflow: hidden;
                width: 10rem;
                height: 100%;
                
                border-right: $line-small;
                .personicon{
                    height: 4rem!important;
                    padding: .7rem!important;
                }
            }
            .todo__row-headers{
                display: flex;
                align-items: center;
                height: 100%;
                justify-content: center;
                flex-shrink: 0;
                width: 15rem;
                border-right: $line-small;
            }
            .add-icon{
                width: 5rem;
                height: 5rem;
            }
            .end{
                width: 5rem;
                border-right:1rem solid $color-grey-light-4;
            }
        }
        
    }
    .add-row{
        background-color: $color-background!important;
        border: $line;
        opacity: .7;
        border-left: .9rem solid rgba($color:$color-blue, $alpha: .8s);
        border-right:1rem solid $color-grey-light-4;
        .new-row{
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            color: rgba($color: #000000, $alpha: .7);
            font-size: 1.6rem;
            font-weight: 400;
            cursor: pointer;
        }

    }
}
.todo .todo__row:not(:first-child) {
    background-color: rgba($color: $color-dark-verylight, $alpha: .1);
    border-bottom: $line-small;
}
#btnControl:checked + label > .rot {
    transform: rotateZ(45deg);
}
#btnControl:checked + label > .new-column {
    display: flex;
}
.label{
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;  
  position: relative;
  .new-column{
      position: absolute;
      top: 4rem;
      left: -14rem;
      z-index: 50;
      border-radius: 5px;
      display: none;
      height: 35.5rem;
      width: 18rem;
      padding-top: 1.5rem;
      flex-direction: column;
      background-color: $color-white;
      box-shadow: $shadow-medium;
      &-item{ 
        padding: .8rem 2rem ;
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: .7);
      }
      .more-columns{
        color: $color-blue;
        display: flex;
        box-sizing: content-box;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        font-size: 1.6;
        font-weight: 600;
        margin-top: .5rem;
        border-top: $line;
      }
      .colicon{
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 1rem;
      }
  }
}
.status{
    position: relative;
    width: 15rem;
    height: 4rem;
    h4{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        width: 100%;
        height: 100%;
    }
    &__set{
        position: absolute;
        top: 4rem;
        left: -7rem;
        z-index: 50;
        display: none;
        flex-wrap: wrap;
        padding: 1.5rem 0rem 0rem 0rem;
        background-color: $color-white;
        border: $line;
        box-shadow: 0 2rem 2rem rgba(0,0,0,.3) ;
        width: 29rem;
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-white;
            padding: .5rem .7rem;
            width: 12rem;
            margin-left: 1.5rem;
            margin-bottom: .5rem;
        }
        .add-items{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            height: 3.5rem;
            width: 100%;
            border-top: $line;
            &*{
                height: 100%;
            }
            a{
                color: $color-blue;
                margin-left: .5rem;
                cursor: pointer;
            }
        }
        
    }
    &:hover .status__set{
        display: flex;
    }

}

.row-input{
    width: 95%;
    height: 90%;
    border: none;
    outline: none;
    padding: .1rem 2rem;
    font-size: 1.4rem;
    background-color: $color-background;
    &::-webkit-input-placeholder {
        font-size: 1.2rem;;
    }
}
.orange{
    background-color:$color-orange;
}
.dark{
    background-color:$color-blue-dark;
}
.pink{
    background-color:$color-pink-light;
}
.green{
    background-color:$color-green;
}

